In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from math import pi

In [2]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('Filipino Family Income and Expenditure.csv')
data.head()

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Highest Grade Completed,Household Head Job or Business Indicator,Household Head Occupation,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Roof,Type of Walls,House Floor Area,House Age,Number of bedrooms,Tenure Status,Toilet Facilities,Electricity,Main Source of Water Supply,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,Female,49,Single,Teacher Training and Education Sciences Programs,With Job/Business,General elementary education teaching professi...,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,80,75,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,0,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,Male,40,Married,Transport Services Programs,With Job/Business,Transport conductors,Worked for private establishment,Single Family,3,0,1,2,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,42,15,2,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,1,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,Male,39,Married,Grade 3,With Job/Business,Farmhands and laborers,Worked for private establishment,Single Family,6,0,4,3,Single house,"Light material (cogon,nipa,anahaw)",Light,35,12,1,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, shared with o...",0,"Shared, faucet, community water system",0,0,0,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,Male,52,Married,Elementary Graduate,With Job/Business,Rice farmers,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,"Light material (cogon,nipa,anahaw)",Light,30,15,1,Own or owner-like possession of house and lot,Closed pit,1,"Own use, faucet, community water system",1,0,0,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,Male,65,Married,Elementary Graduate,With Job/Business,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,"Light material (cogon,nipa,anahaw)",Quite Strong,54,16,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,0,0,1,0,0,0,0,3,0,0,0,1

In [3]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.replace(',', '')
data.columns = data.columns.str.replace('/', '')
data.columns = data.columns.str.replace('-', '')
data.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,NumberofTelevision,NumberofCDVCDDVD,NumberofComponentStereoset,NumberofRefrigeratorFreezer,NumberofWashingMachine,NumberofAirconditioner,NumberofCarJeepVan,NumberofLandlinewirelesstelephones,NumberofCellularphone,NumberofPersonalComputer,NumberofStovewithOvenGasRange,NumberofMotorizedBanca,NumberofMotorcycleTricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,Female,49,Single,Teacher Training and Education Sciences Programs,With Job/Business,General elementary education teaching professi...,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,80,75,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,0,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,Male,40,Married,Transport Services Programs,With Job/Business,Transport conductors,Worked for private establishment,Single Family,3,0,1,2,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,42,15,2,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,1,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,Male,39,Married,Grade 3,With Job/Business,Farmhands and laborers,Worked for private establishment,Single Family,6,0,4,3,Single house,"Light material (cogon,nipa,anahaw)",Light,35,12,1,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, shared with o...",0,"Shared, faucet, community water system",0,0,0,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,Male,52,Married,Elementary Graduate,With Job/Business,Rice farmers,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,"Light material (cogon,nipa,anahaw)",Light,30,15,1,Own or owner-like possession of house and lot,Closed pit,1,"Own use, faucet, community water system",1,0,0,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,Male,65,Married,Elementary Graduate,With Job/Business,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,"Light material (cogon,nipa,anahaw)",Quite Strong,54,16,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,0,0,1,0,0,0,0,3,0,0,0,1

In [4]:
data['HouseholdHeadClassofWorker'].fillna('Unemployed', inplace=True)
data['HouseholdHeadOccupation'].fillna('Unemployed', inplace=True)

## ================================================================================

In [5]:
data['TotalHouseholdIncome_monthly'] = data['TotalHouseholdIncome']/12

In [6]:
target = 'TotalHouseholdIncome_monthly'
var = 'HouseholdHeadOccupation' 
a = data[var].astype('category').cat.categories
b = {i:data[data[var]==i][target].mean() for i in a}
b = sorted(b.items(), key=lambda kv: kv[1], reverse=True)
d = [i for i in b[:127]]
a = [i[0] for i in d]
c = [i[1] for i in d]

In [7]:
data_high_income =pd.DataFrame()
for i in a:
    data_high_income = data_high_income.append(data[data['HouseholdHeadOccupation'] == i],  ignore_index=True)

In [8]:
data_high_income.shape

(2364, 61)

In [21]:
obj_df = data_high_income.select_dtypes(include=['object']).copy()
for item in obj_df.columns:
    obj_df[item] = obj_df[item].astype('category')
    obj_df[item] = obj_df[item].cat.codes
obj_df.head()

,Region,MainSourceofIncome,HouseholdHeadSex,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TypeofBuildingHouse,TypeofRoof,TypeofWalls,TenureStatus,ToiletFacilities,MainSourceofWaterSupply
0,9,2,1,2,7,0,7,3,0,4,6,3,4,7,3
1,10,1,1,3,20,0,56,2,1,4,6,3,4,7,3
2,10,2,0,2,33,0,56,2,0,1,6,3,4,7,3
3,12,1,1,2,20,0,56,0,0,4,6,3,4,7,3
4,15,1,0,2,20,0,56,2,0,4,6,3,4,7,3

In [22]:
data2 = data_high_income.copy()
for item in data2.columns:
    if item in obj_df.columns:
        data2[item] = obj_df[item]
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,NumberofTelevision,NumberofCDVCDDVD,NumberofComponentStereoset,NumberofRefrigeratorFreezer,NumberofWashingMachine,NumberofAirconditioner,NumberofCarJeepVan,NumberofLandlinewirelesstelephones,NumberofCellularphone,NumberofPersonalComputer,NumberofStovewithOvenGasRange,NumberofMotorizedBanca,NumberofMotorcycleTricycle,TotalHouseholdIncome_monthly
0,2089931,9,390989,2,2,58956,36787,36136,37342,6550,7260,189300,3272,600,17175,363240,180000,5226,98070,57588,0,115842,6500,0,0,1,66,2,7,0,7,3,0,7,1,0,5,4,6,3,150,25,7,4,7,1,3,1,1,1,1,1,3,3,1,5,2,1,0,0,174160.916667
1,403494,10,43377,1,0,11964,9560,6276,6348,7130,1899,780,680,0,5680,73056,48000,14080,20766,4200,0,14748,0,0,92200,1,54,3,20,0,56,2,1,1,0,0,1,4,6,3,96,50,3,4,7,1,3,2,1,1,1,0,1,0,0,1,0,1,0,0,33624.500000
2,814350,10,151800,2,0,39114,23738,22324,12447,9591,10722,31380,0,0,14459,148764,69000,54570,53676,17244,34200,60468,52545,0,23000,0,53,2,33,0,56,2,0,4,0,1,2,1,6,3,60,13,4,4,7,1,3,2,3,0,1,1,2,1,0,3,1,1,0,0,67862.500000
3,415200,12,151756,1,0,31023,18900,28239,14410,5230,5390,34200,0,0,4450,190242,150000,66260,37284,23400,23000,10824,6970,0,149000,1,76,2,20,0,56,0,0,5,0,0,1,4,6,3,100,45,5,4,7,1,3,2,1,0,1,1,2,3,1,5,3,1,0,0,34600.000000
4,2008980,15,202613,1,0,46374,28565,34305,17402,13782,10393,32242,1890,0,29608,161076,120000,12140,98346,16512,71640,81660,17600,355980,355980,0,39,2,20,0,56,2,0,6,0,2,2,4,6,3,80,15,3,4,7,1,3,2,1,1,1,0,2,1,1,7,3,1,0,0,167415.000000

In [23]:
data2['TotalMovableAssests'] = data2['NumberofTelevision'] + data2['NumberofCDVCDDVD'] + data2['NumberofComponentStereoset'] + data2['NumberofRefrigeratorFreezer'] + data2['NumberofWashingMachine'] + data2['NumberofAirconditioner'] + data2['NumberofCarJeepVan'] + data2['NumberofLandlinewirelesstelephones'] + data2['NumberofCellularphone'] + data2['NumberofPersonalComputer'] + data2['NumberofStovewithOvenGasRange'] + data2['NumberofMotorizedBanca'] + data2['NumberofMotorcycleTricycle']

In [24]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,NumberofTelevision,NumberofCDVCDDVD,NumberofComponentStereoset,NumberofRefrigeratorFreezer,NumberofWashingMachine,NumberofAirconditioner,NumberofCarJeepVan,NumberofLandlinewirelesstelephones,NumberofCellularphone,NumberofPersonalComputer,NumberofStovewithOvenGasRange,NumberofMotorizedBanca,NumberofMotorcycleTricycle,TotalHouseholdIncome_monthly,TotalMovableAssests
0,2089931,9,390989,2,2,58956,36787,36136,37342,6550,7260,189300,3272,600,17175,363240,180000,5226,98070,57588,0,115842,6500,0,0,1,66,2,7,0,7,3,0,7,1,0,5,4,6,3,150,25,7,4,7,1,3,1,1,1,1,1,3,3,1,5,2,1,0,0,174160.916667,20
1,403494,10,43377,1,0,11964,9560,6276,6348,7130,1899,780,680,0,5680,73056,48000,14080,20766,4200,0,14748,0,0,92200,1,54,3,20,0,56,2,1,1,0,0,1,4,6,3,96,50,3,4,7,1,3,2,1,1,1,0,1,0,0,1,0,1,0,0,33624.500000,8
2,814350,10,151800,2,0,39114,23738,22324,12447,9591,10722,31380,0,0,14459,148764,69000,54570,53676,17244,34200,60468,52545,0,23000,0,53,2,33,0,56,2,0,4,0,1,2,1,6,3,60,13,4,4,7,1,3,2,3,0,1,1,2,1,0,3,1,1,0,0,67862.500000,15
3,415200,12,151756,1,0,31023,18900,28239,14410,5230,5390,34200,0,0,4450,190242,150000,66260,37284,23400,23000,10824,6970,0,149000,1,76,2,20,0,56,0,0,5,0,0,1,4,6,3,100,45,5,4,7,1,3,2,1,0,1,1,2,3,1,5,3,1,0,0,34600.000000,20
4,2008980,15,202613,1,0,46374,28565,34305,17402,13782,10393,32242,1890,0,29608,161076,120000,12140,98346,16512,71640,81660,17600,355980,355980,0,39,2,20,0,56,2,0,6,0,2,2,4,6,3,80,15,3,4,7,1,3,2,1,1,1,0,2,1,1,7,3,1,0,0,167415.000000,20

In [25]:
data2 = data2.drop(['NumberofTelevision', 'NumberofCDVCDDVD', 'NumberofComponentStereoset', 'NumberofRefrigeratorFreezer', 'NumberofWashingMachine', 'NumberofAirconditioner', 'NumberofCarJeepVan', 'NumberofLandlinewirelesstelephones', 'NumberofCellularphone', 'NumberofPersonalComputer', 'NumberofStovewithOvenGasRange', 'NumberofMotorizedBanca', 'NumberofMotorcycleTricycle'], axis = 1)

In [26]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests
0,2089931,9,390989,2,2,58956,36787,36136,37342,6550,7260,189300,3272,600,17175,363240,180000,5226,98070,57588,0,115842,6500,0,0,1,66,2,7,0,7,3,0,7,1,0,5,4,6,3,150,25,7,4,7,1,3,174160.916667,20
1,403494,10,43377,1,0,11964,9560,6276,6348,7130,1899,780,680,0,5680,73056,48000,14080,20766,4200,0,14748,0,0,92200,1,54,3,20,0,56,2,1,1,0,0,1,4,6,3,96,50,3,4,7,1,3,33624.500000,8
2,814350,10,151800,2,0,39114,23738,22324,12447,9591,10722,31380,0,0,14459,148764,69000,54570,53676,17244,34200,60468,52545,0,23000,0,53,2,33,0,56,2,0,4,0,1,2,1,6,3,60,13,4,4,7,1,3,67862.500000,15
3,415200,12,151756,1,0,31023,18900,28239,14410,5230,5390,34200,0,0,4450,190242,150000,66260,37284,23400,23000,10824,6970,0,149000,1,76,2,20,0,56,0,0,5,0,0,1,4,6,3,100,45,5,4,7,1,3,34600.000000,20
4,2008980,15,202613,1,0,46374,28565,34305,17402,13782,10393,32242,1890,0,29608,161076,120000,12140,98346,16512,71640,81660,17600,355980,355980,0,39,2,20,0,56,2,0,6,0,2,2,4,6,3,80,15,3,4,7,1,3,167415.000000,20

In [27]:
data2.shape

(2364, 49)

## ========================================================================

# Savings

In [28]:
expenditures = [column for column in data2.columns if 'Expenditure' in column]

In [29]:
expenditures

['TotalFoodExpenditure',
 'BreadandCerealsExpenditure',
 'TotalRiceExpenditure',
 'MeatExpenditure',
 'TotalFishandmarineproductsExpenditure',
 'FruitExpenditure',
 'VegetablesExpenditure',
 'RestaurantandhotelsExpenditure',
 'AlcoholicBeveragesExpenditure',
 'TobaccoExpenditure',
 'ClothingFootwearandOtherWearExpenditure',
 'HousingandwaterExpenditure',
 'MedicalCareExpenditure',
 'TransportationExpenditure',
 'CommunicationExpenditure',
 'EducationExpenditure',
 'MiscellaneousGoodsandServicesExpenditure',
 'SpecialOccasionsExpenditure']

In [30]:
data2['TotalOverallExpenditure'] = data2['TotalFoodExpenditure'] + data2['BreadandCerealsExpenditure'] + data2['TotalRiceExpenditure'] + data2['MeatExpenditure'] + data2['TotalFishandmarineproductsExpenditure'] + data2['FruitExpenditure'] + data2['VegetablesExpenditure'] + data2['RestaurantandhotelsExpenditure'] + data2['AlcoholicBeveragesExpenditure'] + data2['TobaccoExpenditure'] + data2['ClothingFootwearandOtherWearExpenditure'] + data2['HousingandwaterExpenditure'] + data2['MedicalCareExpenditure'] + data2['TransportationExpenditure'] + data2['CommunicationExpenditure'] + data2['EducationExpenditure'] + data2['MiscellaneousGoodsandServicesExpenditure'] + data2['SpecialOccasionsExpenditure']

In [31]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests,TotalOverallExpenditure
0,2089931,9,390989,2,2,58956,36787,36136,37342,6550,7260,189300,3272,600,17175,363240,180000,5226,98070,57588,0,115842,6500,0,0,1,66,2,7,0,7,3,0,7,1,0,5,4,6,3,150,25,7,4,7,1,3,174160.916667,20,1430833
1,403494,10,43377,1,0,11964,9560,6276,6348,7130,1899,780,680,0,5680,73056,48000,14080,20766,4200,0,14748,0,0,92200,1,54,3,20,0,56,2,1,1,0,0,1,4,6,3,96,50,3,4,7,1,3,33624.500000,8,220544
2,814350,10,151800,2,0,39114,23738,22324,12447,9591,10722,31380,0,0,14459,148764,69000,54570,53676,17244,34200,60468,52545,0,23000,0,53,2,33,0,56,2,0,4,0,1,2,1,6,3,60,13,4,4,7,1,3,67862.500000,15,737042
3,415200,12,151756,1,0,31023,18900,28239,14410,5230,5390,34200,0,0,4450,190242,150000,66260,37284,23400,23000,10824,6970,0,149000,1,76,2,20,0,56,0,0,5,0,0,1,4,6,3,100,45,5,4,7,1,3,34600.000000,20,651578
4,2008980,15,202613,1,0,46374,28565,34305,17402,13782,10393,32242,1890,0,29608,161076,120000,12140,98346,16512,71640,81660,17600,355980,355980,0,39,2,20,0,56,2,0,6,0,2,2,4,6,3,80,15,3,4,7,1,3,167415.000000,20,876148

In [32]:
data2['TotalAnnualSavings'] = data2['TotalHouseholdIncome'] - data2['TotalOverallExpenditure']

In [33]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests,TotalOverallExpenditure,TotalAnnualSavings
0,2089931,9,390989,2,2,58956,36787,36136,37342,6550,7260,189300,3272,600,17175,363240,180000,5226,98070,57588,0,115842,6500,0,0,1,66,2,7,0,7,3,0,7,1,0,5,4,6,3,150,25,7,4,7,1,3,174160.916667,20,1430833,659098
1,403494,10,43377,1,0,11964,9560,6276,6348,7130,1899,780,680,0,5680,73056,48000,14080,20766,4200,0,14748,0,0,92200,1,54,3,20,0,56,2,1,1,0,0,1,4,6,3,96,50,3,4,7,1,3,33624.500000,8,220544,182950
2,814350,10,151800,2,0,39114,23738,22324,12447,9591,10722,31380,0,0,14459,148764,69000,54570,53676,17244,34200,60468,52545,0,23000,0,53,2,33,0,56,2,0,4,0,1,2,1,6,3,60,13,4,4,7,1,3,67862.500000,15,737042,77308
3,415200,12,151756,1,0,31023,18900,28239,14410,5230,5390,34200,0,0,4450,190242,150000,66260,37284,23400,23000,10824,6970,0,149000,1,76,2,20,0,56,0,0,5,0,0,1,4,6,3,100,45,5,4,7,1,3,34600.000000,20,651578,-236378
4,2008980,15,202613,1,0,46374,28565,34305,17402,13782,10393,32242,1890,0,29608,161076,120000,12140,98346,16512,71640,81660,17600,355980,355980,0,39,2,20,0,56,2,0,6,0,2,2,4,6,3,80,15,3,4,7,1,3,167415.000000,20,876148,1132832