In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from math import pi

In [2]:
import os
os.chdir("E:/Python/NUS/fundamentals of data analyrics/project/IT5006_project/data")

In [3]:
pd.set_option('display.max_columns', None)
data = pd.read_csv("data.csv")
data.head()

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,Alcoholic Beverages Expenditure,Tobacco Expenditure,"Clothing, Footwear and Other Wear Expenditure",Housing and water Expenditure,Imputed House Rental Value,Medical Care Expenditure,Transportation Expenditure,Communication Expenditure,Education Expenditure,Miscellaneous Goods and Services Expenditure,Special Occasions Expenditure,Crop Farming and Gardening expenses,Total Income from Entrepreneurial Acitivites,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Highest Grade Completed,Household Head Job or Business Indicator,Household Head Occupation,Household Head Class of Worker,Type of Household,Total Number of Family members,Members with age less than 5 year old,Members with age 5 - 17 years old,Total number of family members employed,Type of Building/House,Type of Roof,Type of Walls,House Floor Area,House Age,Number of bedrooms,Tenure Status,Toilet Facilities,Electricity,Main Source of Water Supply,Number of Television,Number of CD/VCD/DVD,Number of Component/Stereo set,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,Female,49,Single,Teacher Training and Education Sciences Programs,With Job/Business,General elementary education teaching professi...,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,80,75,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,0,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,Male,40,Married,Transport Services Programs,With Job/Business,Transport conductors,Worked for private establishment,Single Family,3,0,1,2,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,42,15,2,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,1,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,Male,39,Married,Grade 3,With Job/Business,Farmhands and laborers,Worked for private establishment,Single Family,6,0,4,3,Single house,"Light material (cogon,nipa,anahaw)",Light,35,12,1,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, shared with o...",0,"Shared, faucet, community water system",0,0,0,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,Male,52,Married,Elementary Graduate,With Job/Business,Rice farmers,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,"Light material (cogon,nipa,anahaw)",Light,30,15,1,Own or owner-like possession of house and lot,Closed pit,1,"Own use, faucet, community water system",1,0,0,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,Male,65,Married,Elementary Graduate,With Job/Business,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,"Light material (cogon,nipa,anahaw)",Quite Strong,54,16,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,0,0,1,0,0,0,0,3,0,0,0,1

In [4]:
data.columns = data.columns.str.replace(' ', '')
data.columns = data.columns.str.replace(',', '')
data.columns = data.columns.str.replace('/', '')
data.columns = data.columns.str.replace('-', '')
data.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,NumberofTelevision,NumberofCDVCDDVD,NumberofComponentStereoset,NumberofRefrigeratorFreezer,NumberofWashingMachine,NumberofAirconditioner,NumberofCarJeepVan,NumberofLandlinewirelesstelephones,NumberofCellularphone,NumberofPersonalComputer,NumberofStovewithOvenGasRange,NumberofMotorizedBanca,NumberofMotorcycleTricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,13460,3000,0,0,4607,63636,30000,3457,4776,2880,36200,34056,7200,19370,44370,Female,49,Single,Teacher Training and Education Sciences Programs,With Job/Business,General elementary education teaching professi...,Worked for government/government corporation,Extended Family,4,0,1,1,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,80,75,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,0,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,7833,2360,960,2132,8230,41370,27000,3520,12900,5700,29300,9150,1500,0,0,Male,40,Married,Transport Services Programs,With Job/Business,Transport conductors,Worked for private establishment,Single Family,3,0,1,2,Single house,"Strong material(galvanized,iron,al,tile,concre...",Strong,42,15,2,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,1,1,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,3795,4545,270,4525,2735,14340,7200,70,324,420,425,6450,500,0,0,Male,39,Married,Grade 3,With Job/Business,Farmhands and laborers,Worked for private establishment,Single Family,6,0,4,3,Single house,"Light material (cogon,nipa,anahaw)",Light,35,12,1,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, shared with o...",0,"Shared, faucet, community water system",0,0,0,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,7887,6280,480,0,1390,16638,6600,60,6840,660,300,3762,500,15580,15580,Male,52,Married,Elementary Graduate,With Job/Business,Rice farmers,Employer in own family-operated farm or business,Single Family,3,0,3,2,Single house,"Light material (cogon,nipa,anahaw)",Light,30,15,1,Own or owner-like possession of house and lot,Closed pit,1,"Own use, faucet, community water system",1,0,0,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,11260,6400,1040,0,4620,31122,16800,140,6996,2100,0,8472,1000,18887,75687,Male,65,Married,Elementary Graduate,With Job/Business,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single Family,4,0,0,2,Single house,"Light material (cogon,nipa,anahaw)",Quite Strong,54,16,3,Own or owner-like possession of house and lot,"Water-sealed, sewer septic tank, used exclusiv...",1,"Own use, faucet, community water system",1,0,0,1,0,0,0,0,3,0,0,0,1

In [5]:
data['HouseholdHeadClassofWorker'].fillna('Unemployed', inplace=True)
data['HouseholdHeadOccupation'].fillna('Unemployed', inplace=True)

## ================================================================================

In [6]:
data['TotalHouseholdIncome_monthly'] = data['TotalHouseholdIncome']/12

In [7]:
target = 'TotalHouseholdIncome_monthly'

In [8]:
var = 'HouseholdHeadOccupation' 
a = data[var].astype('category').cat.categories
b = {i:data[data[var]==i][target].mean() for i in a}
b = sorted(b.items(), key=lambda kv: kv[1], reverse=True)
d = [i for i in b[127:255]]
a = [i[0] for i in d]
c = [i[1] for i in d]

In [10]:
data_medium_income =pd.DataFrame()
for i in a:
    data_medium_income = data_medium_income.append(data[data['HouseholdHeadOccupation'] == i],  ignore_index=True)

In [11]:
data_medium_income.shape

(19556, 61)

In [12]:
obj_df = data_medium_income.select_dtypes(include=['object']).copy()
for item in obj_df.columns:
    obj_df[item] = obj_df[item].astype('category')
    obj_df[item] = obj_df[item].cat.codes
obj_df.head()

,Region,MainSourceofIncome,HouseholdHeadSex,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TypeofBuildingHouse,TypeofRoof,TypeofWalls,TenureStatus,ToiletFacilities,MainSourceofWaterSupply
0,1,2,0,3,40,1,94,4,0,4,6,4,4,7,3
1,1,2,0,1,41,1,94,4,1,3,6,4,2,7,3
2,1,2,1,3,35,1,94,4,0,4,6,4,4,7,6
3,1,2,1,2,4,1,94,4,0,4,6,4,4,7,3
4,1,2,0,2,41,1,94,4,2,4,6,4,5,7,3

In [13]:
data2 = data_medium_income.copy()
for item in data2.columns:
    if item in obj_df.columns:
        data2[item] = obj_df[item]
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,NumberofTelevision,NumberofCDVCDDVD,NumberofComponentStereoset,NumberofRefrigeratorFreezer,NumberofWashingMachine,NumberofAirconditioner,NumberofCarJeepVan,NumberofLandlinewirelesstelephones,NumberofCellularphone,NumberofPersonalComputer,NumberofStovewithOvenGasRange,NumberofMotorizedBanca,NumberofMotorcycleTricycle,TotalHouseholdIncome_monthly
0,386000,1,147778,2,0,63285,44436,19248,16974,4305,8934,14670,0,0,1250,99120,66000,5040,27900,5040,14300,16716,3000,0,0,0,32,3,40,1,94,4,0,9,2,3,2,4,6,4,140,30,3,4,7,1,3,2,0,0,1,1,0,1,0,3,1,0,0,0,32166.666667
1,234120,1,122055,2,0,25643,19308,19571,2834,3361,5370,12160,0,0,4650,68610,51000,890,4266,2700,4600,17442,5000,0,0,0,40,1,41,1,94,4,1,4,1,2,1,3,6,4,100,35,1,2,7,1,3,1,1,0,1,1,0,0,0,1,0,1,0,0,19510.000000
2,237648,1,88820,2,0,20734,15195,25432,14452,1320,6280,5100,540,0,1850,54450,45000,410,7422,4380,2700,6768,11200,0,0,1,35,3,35,1,94,4,0,4,1,1,2,4,6,4,70,25,3,4,7,1,6,1,1,0,1,1,0,0,0,4,0,1,0,0,19804.000000
3,370922,1,130833,2,0,47704,42300,16184,7588,3800,4714,35820,0,4344,16315,61398,48000,400,24234,3900,15180,20136,5500,0,0,1,32,2,4,1,94,4,0,3,0,0,2,4,6,4,60,12,3,4,7,1,3,1,1,0,1,1,0,0,0,6,3,1,0,0,30910.166667
4,254350,1,99427,2,0,22467,8720,16002,6122,3100,4331,26210,1950,1300,9180,61350,0,841,8586,2640,44700,19578,4050,0,0,0,32,2,41,1,94,4,2,5,2,0,2,4,6,4,200,63,2,5,7,1,3,1,0,0,1,0,0,0,0,5,1,0,0,0,21195.833333

In [14]:
data2['TotalMovableAssests'] = data2['NumberofTelevision'] + data2['NumberofCDVCDDVD'] + data2['NumberofComponentStereoset'] + data2['NumberofRefrigeratorFreezer'] + data2['NumberofWashingMachine'] + data2['NumberofAirconditioner'] + data2['NumberofCarJeepVan'] + data2['NumberofLandlinewirelesstelephones'] + data2['NumberofCellularphone'] + data2['NumberofPersonalComputer'] + data2['NumberofStovewithOvenGasRange'] + data2['NumberofMotorizedBanca'] + data2['NumberofMotorcycleTricycle']

In [15]:
data2 = data2.drop(['NumberofTelevision', 'NumberofCDVCDDVD', 'NumberofComponentStereoset', 'NumberofRefrigeratorFreezer', 'NumberofWashingMachine', 'NumberofAirconditioner', 'NumberofCarJeepVan', 'NumberofLandlinewirelesstelephones', 'NumberofCellularphone', 'NumberofPersonalComputer', 'NumberofStovewithOvenGasRange', 'NumberofMotorizedBanca', 'NumberofMotorcycleTricycle'], axis = 1)

In [ ]:
## Tota;

In [18]:
data2['TotalOverallExpenditure'] = data2['TotalFoodExpenditure'] + data2['BreadandCerealsExpenditure'] + data2['TotalRiceExpenditure'] + data2['MeatExpenditure'] + data2['TotalFishandmarineproductsExpenditure'] + data2['FruitExpenditure'] + data2['VegetablesExpenditure'] + data2['RestaurantandhotelsExpenditure'] + data2['AlcoholicBeveragesExpenditure'] + data2['TobaccoExpenditure'] + data2['ClothingFootwearandOtherWearExpenditure'] + data2['HousingandwaterExpenditure'] + data2['MedicalCareExpenditure'] + data2['TransportationExpenditure'] + data2['CommunicationExpenditure'] + data2['EducationExpenditure'] + data2['MiscellaneousGoodsandServicesExpenditure'] + data2['SpecialOccasionsExpenditure']

## Total Annual savings for each household

In [19]:
data2['TotalAnnualSavings'] = data2['TotalHouseholdIncome'] - data2['TotalOverallExpenditure']

In [20]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests,TotalOverallExpenditure,TotalAnnualSavings
0,386000,1,147778,2,0,63285,44436,19248,16974,4305,8934,14670,0,0,1250,99120,66000,5040,27900,5040,14300,16716,3000,0,0,0,32,3,40,1,94,4,0,9,2,3,2,4,6,4,140,30,3,4,7,1,3,32166.666667,9,491996,-105996
1,234120,1,122055,2,0,25643,19308,19571,2834,3361,5370,12160,0,0,4650,68610,51000,890,4266,2700,4600,17442,5000,0,0,0,40,1,41,1,94,4,1,4,1,2,1,3,6,4,100,35,1,2,7,1,3,19510.000000,6,318460,-84340
2,237648,1,88820,2,0,20734,15195,25432,14452,1320,6280,5100,540,0,1850,54450,45000,410,7422,4380,2700,6768,11200,0,0,1,35,3,35,1,94,4,0,4,1,1,2,4,6,4,70,25,3,4,7,1,6,19804.000000,9,267053,-29405
3,370922,1,130833,2,0,47704,42300,16184,7588,3800,4714,35820,0,4344,16315,61398,48000,400,24234,3900,15180,20136,5500,0,0,1,32,2,4,1,94,4,0,3,0,0,2,4,6,4,60,12,3,4,7,1,3,30910.166667,14,440350,-69428
4,254350,1,99427,2,0,22467,8720,16002,6122,3100,4331,26210,1950,1300,9180,61350,0,841,8586,2640,44700,19578,4050,0,0,0,32,2,41,1,94,4,2,5,2,0,2,4,6,4,200,63,2,5,7,1,3,21195.833333,8,340554,-86204

## Total Unnecessary Expenditure for each household

In [21]:
data2['TotalUnnecessaryExpenditure'] = data2['RestaurantandhotelsExpenditure'] + data2['AlcoholicBeveragesExpenditure'] + data2['TobaccoExpenditure'] + data2['ClothingFootwearandOtherWearExpenditure'] + data2['CommunicationExpenditure'] + data2['MiscellaneousGoodsandServicesExpenditure'] + data2['SpecialOccasionsExpenditure']

In [28]:
data2.head()

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests,TotalOverallExpenditure,TotalAnnualSavings,TotalUnnecessaryExpenditure,TotalHouseholdIncome_annual,SavingRate,avgspace
0,386000,1,147778,2,0,63285,44436,19248,16974,4305,8934,14670,0,0,1250,99120,66000,5040,27900,5040,14300,16716,3000,0,0,0,32,3,40,1,94,4,0,9,2,3,2,4,6,4,140,30,3,4,7,1,3,32166.666667,9,491996,-105996,40676,386000,-27.460104,15
1,234120,1,122055,2,0,25643,19308,19571,2834,3361,5370,12160,0,0,4650,68610,51000,890,4266,2700,4600,17442,5000,0,0,0,40,1,41,1,94,4,1,4,1,2,1,3,6,4,100,35,1,2,7,1,3,19510.000000,6,318460,-84340,41952,234120,-36.024261,25
2,237648,1,88820,2,0,20734,15195,25432,14452,1320,6280,5100,540,0,1850,54450,45000,410,7422,4380,2700,6768,11200,0,0,1,35,3,35,1,94,4,0,4,1,1,2,4,6,4,70,25,3,4,7,1,6,19804.000000,9,267053,-29405,29838,237648,-12.373342,17
3,370922,1,130833,2,0,47704,42300,16184,7588,3800,4714,35820,0,4344,16315,61398,48000,400,24234,3900,15180,20136,5500,0,0,1,32,2,4,1,94,4,0,3,0,0,2,4,6,4,60,12,3,4,7,1,3,30910.166667,14,440350,-69428,86015,370922,-18.717682,20
4,254350,1,99427,2,0,22467,8720,16002,6122,3100,4331,26210,1950,1300,9180,61350,0,841,8586,2640,44700,19578,4050,0,0,0,32,2,41,1,94,4,2,5,2,0,2,4,6,4,200,63,2,5,7,1,3,21195.833333,8,340554,-86204,64908,254350,-33.891881,40

In [22]:
data2['TotalHouseholdIncome_annual'] = data2['TotalHouseholdIncome']

In [23]:
data2['SavingRate'] = data2['TotalAnnualSavings']/data2['TotalHouseholdIncome'] * 100

In [25]:
data_medium_income['HouseholdHeadHighestGradeCompleted'].value_counts()

High School Graduate                                                                                                                                                                                                   5278
Elementary Graduate                                                                                                                                                                                                    3090
Second Year College                                                                                                                                                                                                     952
Second Year High School                                                                                                                                                                                                 932
Business and Administration Programs                                                                                                                                                                                    874
Grade 4                                                                                                                                                                                                                 801
Grade 5                                                                                                                                                                                                                 752
Third Year High School                                                                                                                                                                                                  711
Grade 3                                                                                                                                                                                                                 639
Third Year College                                                                                                                                                                                                      632
First Year College                                                                                                                                                                                                      582
Teacher Training and Education Sciences Programs                                                                                                                                                                        496
First Year High School                                                                                                                                                                                                  464
Engineering and Engineering Trades Programs                                                                                                                                                                             427
Grade 2                                                                                                                                                                                                                 412
No Grade Completed                                                                                                                                                                                                      355
Engineering and Engineering trades Programs                                                                                                                                                                             318
Grade 1                                                                                                                                                                                                                 268
Computing/Information Technology Programs                                                                                                                                                                               197
Health Programs                                                                                                                                                                                                         191
Transport Services Programs                                                                                                                                                                                             149
Security Services Programs                                                                                                                                                                                              129
Agriculture, Forestry, and Fishery Programs                                                                                                                                                                             128
Second Year Post Secondary                                                                                                                                                                                               90
Grade 6                                                                                                                                                                                                                  87
Fourth Year College                                                                                                                                                                                                      87
Social and Behavioral Science Programs                                                                                                                                                                                   76
First Year Post Secondary                                                                                                                                                                                                71
Post Baccalaureate                                                                                                                                                                                                       71
Personal Services Programs                                                                                                                                                                                               63
Humanities Programs                                                                                                                                                                                                      56
Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree                                                             45
Journalism and Information Programs                                                                                                                                                                                      22
Basic Programs                                                                                                                                                                                                           18
Law Programs                                                                                                                                                                                                             13
Arts Programs                                                                                                                                                                                                            13
Life Sciences Programs                                                                                                                                                                                                   12
Architecture and Building Programs                                                                                                                                                                                       11
Manufacturing and Processing Programs                                                                                                                                                                                     8
Mathematics and Statistics Programs                                                                                                                                                                                       7
Social Services Programs                                                                                                                                                                                                  7
Physical Sciences Programs                                                                                                                                                                                                7
Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)       6
Preschool                                                                                                                                                                                                                 4
Veterinary Programs                                                                                                                                                                                                       3
Environmental Protection Programs                                                                                                                                                                                         2
Name: HouseholdHeadHighestGradeCompleted, dtype: int64

In [26]:
data2['avgspace'] = data2['HouseFloorArea']//data2['TotalNumberofFamilymembers']

## Savings rate and AvgSapce per person in each household for lower income socioeconomic group

In [27]:
data2.head(10)

,TotalHouseholdIncome,Region,TotalFoodExpenditure,MainSourceofIncome,AgriculturalHouseholdindicator,BreadandCerealsExpenditure,TotalRiceExpenditure,MeatExpenditure,TotalFishandmarineproductsExpenditure,FruitExpenditure,VegetablesExpenditure,RestaurantandhotelsExpenditure,AlcoholicBeveragesExpenditure,TobaccoExpenditure,ClothingFootwearandOtherWearExpenditure,HousingandwaterExpenditure,ImputedHouseRentalValue,MedicalCareExpenditure,TransportationExpenditure,CommunicationExpenditure,EducationExpenditure,MiscellaneousGoodsandServicesExpenditure,SpecialOccasionsExpenditure,CropFarmingandGardeningexpenses,TotalIncomefromEntrepreneurialAcitivites,HouseholdHeadSex,HouseholdHeadAge,HouseholdHeadMaritalStatus,HouseholdHeadHighestGradeCompleted,HouseholdHeadJoborBusinessIndicator,HouseholdHeadOccupation,HouseholdHeadClassofWorker,TypeofHousehold,TotalNumberofFamilymembers,Memberswithagelessthan5yearold,Memberswithage517yearsold,Totalnumberoffamilymembersemployed,TypeofBuildingHouse,TypeofRoof,TypeofWalls,HouseFloorArea,HouseAge,Numberofbedrooms,TenureStatus,ToiletFacilities,Electricity,MainSourceofWaterSupply,TotalHouseholdIncome_monthly,TotalMovableAssests,TotalOverallExpenditure,TotalAnnualSavings,TotalUnnecessaryExpenditure,TotalHouseholdIncome_annual,SavingRate,avgspace
0,386000,1,147778,2,0,63285,44436,19248,16974,4305,8934,14670,0,0,1250,99120,66000,5040,27900,5040,14300,16716,3000,0,0,0,32,3,40,1,94,4,0,9,2,3,2,4,6,4,140,30,3,4,7,1,3,32166.666667,9,491996,-105996,40676,386000,-27.460104,15
1,234120,1,122055,2,0,25643,19308,19571,2834,3361,5370,12160,0,0,4650,68610,51000,890,4266,2700,4600,17442,5000,0,0,0,40,1,41,1,94,4,1,4,1,2,1,3,6,4,100,35,1,2,7,1,3,19510.000000,6,318460,-84340,41952,234120,-36.024261,25
2,237648,1,88820,2,0,20734,15195,25432,14452,1320,6280,5100,540,0,1850,54450,45000,410,7422,4380,2700,6768,11200,0,0,1,35,3,35,1,94,4,0,4,1,1,2,4,6,4,70,25,3,4,7,1,6,19804.000000,9,267053,-29405,29838,237648,-12.373342,17
3,370922,1,130833,2,0,47704,42300,16184,7588,3800,4714,35820,0,4344,16315,61398,48000,400,24234,3900,15180,20136,5500,0,0,1,32,2,4,1,94,4,0,3,0,0,2,4,6,4,60,12,3,4,7,1,3,30910.166667,14,440350,-69428,86015,370922,-18.717682,20
4,254350,1,99427,2,0,22467,8720,16002,6122,3100,4331,26210,1950,1300,9180,61350,0,841,8586,2640,44700,19578,4050,0,0,0,32,2,41,1,94,4,2,5,2,0,2,4,6,4,200,63,2,5,7,1,3,21195.833333,8,340554,-86204,64908,254350,-33.891881,40
5,139892,5,65594,1,0,5570,0,0,0,60,0,54600,0,0,7475,38400,33000,0,17724,1482,0,3546,0,0,0,1,38,1,21,1,94,3,1,1,0,0,1,4,6,4,36,16,2,6,7,1,3,11657.666667,3,194451,-54559,67103,139892,-39.000801,36
6,509220,5,122853,2,0,27308,14023,3870,7089,3958,10953,40474,0,0,12000,100662,72000,960,33180,14820,58670,20322,40,0,0,0,49,1,23,1,94,4,1,3,0,1,2,4,3,2,100,40,3,4,7,1,5,42435.000000,4,471182,38038,87656,509220,7.469856,33
7,341536,5,99816,2,0,24472,17014,19519,8513,1242,3423,22666,0,2172,8101,53904,33000,2435,34098,16014,8100,14880,80,0,0,0,33,2,42,1,94,4,0,5,1,1,3,3,6,4,50,19,2,4,7,1,3,28461.333333,11,336449,5087,63913,341536,1.489448,10
8,105690,10,51571,2,0,19892,14168,10217,5086,2710,2796,5030,4870,9908,1449,9300,4200,210,9306,1212,1745,3066,0,0,0,1,83,2,35,1,94,4,1,3,0,1,1,4,0,0,42,23,1,4,7,0,8,8807.500000,2,152536,-46846,25535,105690,-44.323966,14
9,390727,10,97422,2,0,29874,21820,13310,11440,1183,4089,22680,0,0,7920,30768,0,2150,28776,11400,760,89640,47500,0,0,0,50,5,35,1,94,3,0,4,0,2,2,4,6,4,42,30,2,5,7,1,3,32560.583333,6,420732,-30005,179140,390727,-7.679275,10